.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .detail-post {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid rgba(104, 104, 104, 0.2);
    box-shadow: 0px 0px 8px 1px rgba(88, 88, 88, 0.175);
  }
}

::ng-deep fieldset {
  padding: (0) !important;
  border: 0;
  margin: 0;
}
::ng-deep .t-item[_ngcontent-ng-c121344037] {
  display: flex;
  justify-content: flex-start !important;
}

.detail-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  height: calc(15% - 2rem);

  .user-infor {
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-avatar {
      width: 3.2rem;
      height: 3.2rem;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }

    .user-name {
      margin-left: 0.5rem;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
      }

      .date {
        margin: 0;
        font-size: 0.8rem;
        color: rgb(0, 0, 0, 0.6);
      }
    }
  }

  .more-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
  }
  .more-svg:hover {
    background-color: rgba(207, 207, 207, 0.499);
    border-radius: 50%;
  }
}

.detail-image {
  position: relative;
  height: 100%;
  z-index: 2;

.overlay{

  .image {
    width: 100%;
    height: 53vh;

    // max-width: 30rem;
    // max-height: 30rem;
    object-fit: contain;
  }
}
  
}
.detail-bottom {
  height: calc(100% - 2rem);
  padding: 0.5rem 1rem;
  .reaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .icon {
      font-size: 0.9rem;
      cursor: pointer;
    }
    .reaction-left {
      width: 15%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  .content {
    word-wrap: break-word;
    p {
      margin: 0.5rem 0;
      font-size: 0.8rem;

      span {
        color: #0081FF;
        font-size: 0.9rem;
       
      }
    }
  }

  .comment {
    .view-comment {
      color: rgb(0, 0, 0, 0.5);
      margin: 0.4rem 0;
    }
    .user-comment {
      display: flex;
      flex-direction: row;

      .user-avatar-comment {
        width: 2.3rem;
        height: 2.3rem;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .user-comment-content {
        width: 90%;

        .name {
          margin-left: 1rem;
          color: black;
          font-size: 0.85rem;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 0;
        }
        .content {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 1rem;
          color: black;
          font-size: 0.75rem;

          span {
            cursor: pointer;
            color: rgb(0, 0, 0, 0.5);
          }
          span:hover {
            border-bottom: 1px solid rgb(0, 0, 0, 0.5);
          }
        }
      }
    }

    .all-comment-input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .avatar-user-input {
        width: 2.3rem;
        height: 2.3rem;

        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .comment-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        height: 2rem;
        border: 1px solid rgb(0, 0, 0, 0.2);
        border-radius: 0.6rem;
       
        font-size: 0.8rem;
        margin-left: 1rem;
        padding: 0 0.5rem;

        input {
          border-radius: 0.8rem;
          border: none;
          outline: none;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.dialog {
  width: 100%;
  height: 100%;
}
.comment-top {
  height: 15%;
}
.comment-top-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .user-infor-comment {
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-avatar {
      width: 3.2rem;
      height: 3.2rem;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }

    .user-name {
      margin-left: 0.5rem;
      font-size: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .name {
        margin: 0;
        font-size: 1rem;
        font-weight: bold;
      }

      .date {
        margin: 0;
        font-size: 0.8rem;
        color: rgb(0, 0, 0, 0.6);
      }
    }
  }

  .more-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
  }
  .more-svg:hover {
    background-color: rgba(207, 207, 207, 0.499);
    border-radius: 50%;
  }
}
.comment-middle::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.comment-middle::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}
.comment-middle::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #8a8a8a;
}
.comment-middle {
  height: 45vh;
  margin-bottom: 1rem; 
 
  overflow: auto;

  .comment {
    width: 100%;
    height: 100%;

    .view-comment {
      color: rgb(0, 0, 0, 0.5);
      margin: 0.4rem 0;
    }
    .user-comment {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 1rem;

      .user-avatar-comment {
        width: 2.3rem;
        height: 2.3rem;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .icon-comment{
        .icon{
          cursor: pointer;
        }
      }

      .user-comment-content {
        width: 90%;

        .name {
          margin-left: 1rem;
          color: black;
          font-size: 0.95rem;
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 0;
        }
        .content {
          margin-top: 0;
          margin-bottom: 0;
          margin-left: 1rem;
          color: black;
          font-size: 0.75rem;
        }
        
       
      }
    }
  }
}

.comment-bottom {
  .all-comment-input {
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .avatar-user-input {
      width: 2.3rem;
      height: 2.3rem;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .comment-input {
      display: flex;
      align-items: center;
      width: 92%;
      height: 2.3rem;
      border: 1px solid rgb(0, 0, 0, 0.2);
      border-radius: 0.6rem;
     justify-content: space-between;
      font-size: 0.8rem;
    
      padding: 0 0.5rem;

      .icon {
        cursor: pointer;
      }

      input {
        border-radius: 0.8rem;
        border: none;
        outline: none;
        width: 80%;
        height: 100%;
      }
    }
  }
}

.heartBtnActive{
  color: #cc4647 !important;
  fill: #cc4647 !important;
  background-position: right;
  animation: animate .8s steps(28) 1;
}
.heartBtnActive::hover{
  color: #cc4647 !important;
  fill: #cc4647 !important;
  background-position: right;
  animation: animate .8s steps(28) 1;
}
@keyframes animate{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
@media (max-width: 768px){
  .container{
    width: 100%;
    height: 100%;

    .detail-post{
      width: 50%;
    }
  }
  
}

@media (max-width: 1024px){
  .container{
    width: 100%;
    height: 100%;

    .detail-post{
      width: 50%;
    }
  }
  
}