<div class="container">
  <div class="stories-list">
    <div class="story">
      <div class="top">
        <div class="scroll-tab">
        </div>

        <div class="story-set">
          <div class="story-user">
            <div class="user-avatar">
              <img src="https://i.pinimg.com/736x/ba/2b/2c/ba2b2cfaa3d4e765f986dfb52aac8771.jpg" alt="">
            </div>
            <div class="user-name">
              <p>Kevin De Bruyne</p>
            </div>
          </div>
          <div class="setting">
            <tui-svg src="tuiIconPlayCircle"></tui-svg>
            <tui-svg src="tuiIconPauseCircle"></tui-svg>
            <tui-svg src="tuiIconVolume2"></tui-svg>
            <tui-svg src="tuiIconVolumeX"></tui-svg>
            <tui-svg src="tuiIconMoreHorizontal"></tui-svg>


          </div>
        </div>
      </div>
      <div class="image-story">
        <div class="opacity-image-story">
          <img src="https://i.pinimg.com/736x/dc/38/ce/dc38ce4556f05994b53bad9ffe3a8664.jpg" alt="">
        </div>
      </div>
    </div>

  </div>
</div>